@import "~highlight.js/styles/atom-one-dark.css";
@import "~@lgv/visualization-chart/src/example/style/index.css";

.lgv-bin:nth-of-type(even) .lgv-bin-background {
    fill: #e7e3e3;
}

.lgv-bubble {
    cursor: pointer;
    stroke: grey;
}

.lgv-bubble:hover {
    fill: #97d3d6;
    -moz-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.lgv-label-partial:last-of-type {
    font-size: 0.8em;
}

.tick text {
    font-family: "Inter Bold";
    font-size: 1.25em;
}

.tick line,
.domain {
    display: none;
}